/*basic element code*/
body {
background-color: #000000;
}
h1 {
  font-size: 78px;
  color: #FFFFFF;
}
h2 {
  color: #FFFFFF;
  font-size: 30px;
}
td {
  color: #FFFFFF;
  border-style: solid;
  border-width: 5px;
  font-size: 50px;
  width: 500px;
  height: 100px;
  position: relative;
}

/*The dropdown box code for style*/
#options {
  font-weight: bold;
  float: right;
  padding-right: 7px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 50px
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 1;
}
.dropdown {
  position: relative;
  display: inline-block;
  float: left;
}
#drpItem {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 22px;
  padding: -5px;
}
.show {
  display:block;
}

/* the colours for changing background of each square*/
.red {
  background-color: #FF0000;
}
.blue {
  background-color: #0000FF;
}
.green {
  background-color: #00FF00;
}
.pink {
  background-color: #FF00FF;
}
.orange {
  background-color: #FF8C00;
}
.yellow {
  background-color: #FFFF00;
  color: #000000;
}
.black {
  background-color: #000000;
}
.white {
  background-color: #FFFFFF;
  color: #000000;
}
.purple {
  background-color: #4B0082;
}
.brown {
  background-color: #8B4513;
}
.cyan {
  background-color: #00FFFF;
}
.lime {
  background-color: #00FF00;
}
.green {
  background-color: #228B22;
}
